<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<button mat-raised-button color="primary">Click me</button>
<button mat-raised-button color="accent">Click me</button>
<button mat-raised-button color="warn">Click me</button>
<button mat-icon-button color= "accent">
  <mat-icon>home</mat-icon>
</button>



<section>
  <form fxLayout = "column" fxLayoutAlign="center center">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your password">
    </mat-form-field>
  </form>
</section>