<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
    #f="ngForm"
    (ngSubmit)="loadResults_1()"
  >
    <form fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="Start Date"
          [matDatepicker]="start_date"
          ngModel
          name="start_date"
          required
          (dateInput)="startDate($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="start_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_date
          ><mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              Apply
            </button>
          </mat-datepicker-actions></mat-datepicker
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="End Date"
          [matDatepicker]="end_date"
          [max]="maxDate"
          ngModel
          name="end_date"
          required
          (dateInput)="endDate($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="end_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #end_date
          ><mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              Apply
            </button>
          </mat-datepicker-actions></mat-datepicker
        >
      </mat-form-field>
    </form>

    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
      <mat-form-field>
        <input
          matInput
          placeholder="Your email"
          ngModel
          name="email"
          email
          #emailInput="ngModel"
        />
        <mat-hint align="end">{{ emailInput.value?.length }} / 6</mat-hint>
        <mat-error *ngIf="emailInput.hasError('required')"
          >Field must not be empty.</mat-error
        >
        <mat-error *ngIf="!emailInput.hasError('required')"
          >E-mail is invalid.</mat-error
        >
      </mat-form-field>

      <mat-checkbox ngModel name="agree" required color="primary"
        >Agree to
        <a href="https://open.fda.gov/terms/" target="_blank"
          >terms of service</a
        >
        from openFDA.</mat-checkbox
      >

      <button
        type="submit"
        mat-raised-button
        color="primary"
      >
        Submit
      </button>
    </form>
  </form>
</section>
<div class="example-events">
  <div >{{startdate}}</div>
</div>
